@import './reset.less';

* {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB',
    'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f4f4f4;
}

::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

* {
  -ms-overflow-style: none; /* IE 10+ */

  scrollbar-width: none; /* Firefox */
}
